@import "variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  margin: 0px !important;
  background-color: #f2f0f5 !important;
  font-family: 'Poppins', sans-serif !important;
}

label {
  color: $containedPrimary;
  font-size: 14px;
  color: #9c9c9c !important;
}

a {
  text-decoration: none !important;
  color: white !important;
}

/*LIST*/
li {
  color: $colorSecondary;
}

/*fULL WIDTH*/
.full-width {
  width: 100% !important;
}

.section-container {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

/*FLEXBOX*/
.display-flex {
  display: flex !important;
}

.align-self-center {
  align-self: center !important;
}

.display-inherit {
  display: inherit !important;
}

.justify-content-between {
  justify-content: space-between !important;
 }


/*MARGIN*/
.margin-right-xsmall {
  margin-right: 5px !important;
}

.margin-right-small {
  margin-right: 20px !important;
}

.margin-top-small {
  margin-top: 20px !important;
}

.margin-bottom-small {
  margin-bottom: 20px !important;
}

.margin-top-xsmall {
  margin-top: 5px !important;
}


/*TEXT*/
.text-align-center {
  text-align: center !important;
}

.text-align-right {
  text-align: right !important;
}

.margin-top-small {
  margin-top: 20px !important;
}

.margin-top-large {
  margin-top: 40px !important;
}

/*COLOR*/
.color-grey {
  color: #b5b5b5 !important;
}

.color-secondary {
  color: $colorSecondary !important;
}

/*BACKGROUND COLOR*/
.background-color-white {
  background-color: white !important;
}

.background-color-grey {
  color: #b5b5b5 !important;
}

/*COLOR*/
.color-primary {
  color: $containedPrimary !important;
}

.MuiTypography-root {
  font-family: 'Poppins', sans-serif !important;
}


.hide-on-mobile {
  display: none !important;
  @media (min-width: 960px) {
      display: block !important;
    }
}

.hide-on-desktop {
  display: block !important;

  @media (min-width: 960px) {
      display: none !important;
  }
}

