body {
  margin: 0px !important;
  background-color: #f2f0f5 !important;
}

/*FLEXBOX*/
.display-flex {
  display: flex !important;
}

/*MARGIN*/
.margin-right-xsmall {
  margin-right: 5px !important;
}

.margin-top-xsmall {
  margin-top: 5px !important;
}

.margin-top-small {
  margin-top: 20px !important;
}


.justify-content-between {
 justify-content: space-between !important;
}

/*BACKGROUND COLOR*/
.background-color-white {
  background-color: white !important;
}

/*COLOR*/
.color-primary {
  color: #8e54e9 !important;
}
