@import "variables";

.MuiButton-containedSecondary {
  color: $containedPrimary !important;
  background-color: white !important;
}

.MuiGrid-spacing-xs-7 > .MuiGrid-item {
  padding: 10px !important;
}

.MuiIconButton-colorPrimary {
  color: $containedPrimary !important;
}

.MuiTypography-body1 {
  color: $containedPrimary;
}

.MuiDialogTitle-root {
  background-color: $containedPrimary !important;
  color:  white !important;
  border-bottom: 2px solid $containedPrimary ;
}

/*INPUT*/
.MuiFilledInput-root {
  color: #9c9c9c  !important;
  background-color: #f2f0f5 !important;
  border: 2px solid #ebeef1 !important;
}

.MuiFilledInput-underline:after,
.MuiFilledInput-underline:before {
  display: none !important;
}

.MuiFormControl-marginNormal {
  margin-top: 5px !important;
}

.MuiInputBase-input:focus {
  outline: none !important;
}

.MuiInputBase-input {
  padding: 13px 18px !important;
}

.MuiButton-containedPrimary {
  color: white !important;
  background-color: #823eb7  !important;
}

.MuiFormLabel-root.Mui-focused {
  color: $containedPrimary  !important;
}

.MuiRadio-colorSecondary.Mui-checked {
  color: $containedPrimary !important;
}

.MuiDivider-root {
  height: 2px !important;
}

.MuiPaper-elevation1 {
  box-shadow: 0 2px 0 rgba(0,0,0,0.06) !important;
  padding: 20px 20px 20px 20px !important;
}

.MuiTypography-h6 {
  font-weight: 600 !important;
}
